<div class="jumbotron">
  <div class="logo"></div>
  <p class="lead">Let you send your honor message to someone</p>
  <p><a class="btn btn-lg btn-primary" href="#" role="button" ng-click="login()">Login with Facebook</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><i class="fa fa-facebook-square"></i> Login with Facebook</h4>
    <p>You can easily login with your facebook account</p>

    <h4><i class="fa fa-user"></i> Find your honor friend</h4>
    <p>You can easily browse and find your honor friends</p>

    <h4><i class="fa fa-envelope-square"></i> Put yout message</h4>
    <p>You can easily put message why you honor him/her</p>
    
  </div>

  <div class="col-lg-6">
    <h4><i class="fa fa-photo"></i> Choose photo</h4>
    <p>You can easily upload or choose photo of your friend</p>

    <h4><i class="fa fa-share-alt"></i> Share your honor</h4>
    <p>You can easily share your honor message</p>

  </div>
</div>